---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Acabei de fazer a minha micro simplesmente perfeita perfeita!!! Parabens Edu o meu muito obrigada de coracao!!! Amandooooo muitooooo
    image: "/images/danielasoares.jpg"
    name: Daniela Soares
  - message: Super indico, o atendimento é excelente! O trabalho é realizado com precisão e perfeição. ADOREI! Muito obrigada Edu
    image: "/images/camiladelabrida.jpg"
    name: Camila Delabrida
  - message: Profissionais super capacitados, modernos, queridos e super criativos! Viajo 430km para ser atendida por vocês!!! Recomendo!!
    image: "/images/cristinibarreto.jpg"
    name: Cristini Barreto
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>
    As <strong>sobrancelhas</strong> são fundamentais, pois são as molduras dos olhos e um dos traços de maior influência na expressividade do rosto. Quando bem tratadas e na medida correta realçam os olhos e embelezam o rosto; mal cuidadas podem comprometer a expressão. Por isso, não se recomenda modificar seu formato original: deve-se fazer as correções necessárias para criar harmonia com a forma do rosto. Logo, seu desenho deve ser suave, sem picos.
  </p>
	<p>
    As tendências de comportamento também ditam uma espécie de moda para as sobrancelhas; houve uma época em que fashion era tê-las bem fininhas e definidas a lápis, atualmente a regra é quanto mais natural, melhor, ou seja, conservar o seu formato natural e retirar apenas os excessos.
  </p>
  <p>
    A sobrancelha é uma ferramenta poderosa. O seu formato pode passar uma imagem de austeridade, pode deixar o visual mais leve e tranquilo, pode rejuvenescer, ou não. É isso que faz o designer de sobrancelhas, entende cada formato de rosto e respeita suas singularidades.
  </p>

</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
